<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.UserMapper">

    <select id="getUserById" resultType="com.example.spring.bean.User">
        select * from tab_user where uid = #{uid}
    </select>

    <select id="findUserByUsername" resultType="com.example.spring.bean.User">
        select * from tab_user where username = #{username}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyColumn="uid">
        insert into tab_user(username,password,name,birthday,sex,telephone,email,status,code)
           values(#{username},#{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code})
    </insert>
    
    <select id="findUserByCode" resultType="com.example.spring.bean.User">
        select * from tab_user where code = #{code}
    </select>

    <update id="updateUserStatus">
        update tab_user set status = 'Y' where uid = #{uid}
    </update>

    <select id="findUserByUsernameAndPassword" resultType="com.example.spring.bean.User">
        select * from tab_user where username = #{username} and password = #{password}
    </select>



</mapper>